.TodoSearch {
    width: 80%;
    display: block;
    height: 2rem;
    margin: 0 auto;
    border-radius: 8px;
    padding: 10px;
    border-color: blue;
    box-shadow: 2px 2px 2px grey;
}

.TodoSearch:focus {
    outline-color: blueviolet;
}